@font-face {
  font-family: Orbitron;
  src: url("../public/fonts/Poppins-Regular.ttf");
}

.font {
  font-family: "Orbitron", sans-serif;
}
hr.solid {
  border-top: 1px solid #bbb;
}

* {
  font-family: "Orbitron", sans-serif;
}
